main{
    display: flex;
    flex-direction: column;
}
.s1{    
    width: 100%;
    height: 600px;        
}
.s2{    
    grid-area: s2;
    padding: 0px 100px 0px 100px;
}
.s3{    
    grid-area: s3;
    padding: 20px 100px 0px 100px;
}
.s4 {    
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    justify-self: center;
    align-self: center;
    text-align: center;
    gap: 20px;
    padding: 20px 100px 20px 100px; /* cambio 20px footer */
}
.s4c {    
    display:grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(5,auto);
    justify-self: center;
    align-items:flex-start;
    text-align: justify;
    gap: 20px;
    padding: 20px 100px 0px 100px;
}
h1{
    color:mediumblue;
    font-size: 4em;
    text-align: center;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.center{
        display:flex;
        flex-wrap: nowrap;
        justify-content: center;  
        align-items: center;
        text-align: center;
        flex-direction: column;      
}
h2{
    color: mediumblue;
    font-size: 2em;
    text-align: center; 
    font-family: 'Baloo Bhaijaan 2', cursive;
}
h3{
    font-size: 1em;
    text-align: center;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.justificar{
            text-align: justify;
}

.pr{
    font-size: 1.5em;
}
.pa{
    padding: 10px;
}

.boton{    
        border: 1px solid rgb(3, 3, 160); /*anchura, estilo y color borde*/
        padding: 10px; /*espacio alrededor texto*/
        background-color: rgb(3, 3, 160); /*color botón*/
        color: #ffffff; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: uppercase; /*capitalización texto*/
        font-family: 'Helvetica', sans-serif; /*tipografía texto*/
        border-radius: 50px; /*bordes redondos*/
        &:hover{
            opacity: 1;
            zoom: 1;
            border: solid white 2px;
        }
    }

    .s4_1 {
        transform: scale(1,1);
        transition: all 1.5s;
        &:hover {
            transform: scale(1.1,1.1);
         }       
     }
     .s4_2 {
        transform: scale(1,1);
        transition: all 1.5s;
        &:hover {
            transform: scale(1.05,1.05);
         }     
     }
     .s4_3{
        :hover {
            transform: scale(1.05,1.05);
         }
     }
     .form{
        width:340px;
        height:500px;
        background:#e6e6e6;
        border-radius:8px;
        box-shadow:0 0 40px -10px #000;
        margin:calc(50vh - 220px) auto;
        padding:20px 30px;
        max-width:calc(100vw - 40px);
        box-sizing:border-box;
        font-family:'Montserrat',sans-serif;
        position:relative;
    }
    .mainFormu{
        background:#59ABE3;
    }